html{
	box-sizing: border-box;
}
*,*::before,*::after{
	box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.container{
	padding-right: 150px;
	padding-left: 150px;
}
.divs{
	background-image: url(bg_head.jpg);
	padding: 150px 0;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid #cccccc;
}
.h2{
	font-size: 40px;
	font-style: italic;
}
.fa{
  color: #cccccc;
}
.menu{
	border-top: 3px solid #cccccc;
	background-color: rgba(2, 2, 2, 0.6);
    position: sticky;
    top: 0;
}
a{
	color: black;
	text-decoration: none;
}
.ul{
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid #cccccc;
	text-decoration: none;
}
.item{
  position: relative;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  right: 20px;
  margin: 10px;
  color: white;
}
.list2{
  position: absolute;
  right: 0;
  display: none;
  width: 100%;
  background-color: rgba(2, 2, 2, 0.6);
}
.mlink{
  color: white;
}
.show{
	display: block;
}
.box{
	padding-top: 50px;
	text-align: center;
	font-size: 20px;
	color: #cccccc;
	letter-spacing: 2px;
}
.span{
	color: red;
	letter-spacing: 0;
}
.smallbox{
	display: flex;
	flex-wrap: wrap;
}
.red{
	width: 50%;
}
.rasm{
	width: 60%;
}

.pp{
	color: red;
	font-size: 20px;
}
.h3{
	font-size:  20px;
	font-style: italic;
}
.p{
	color: #cccccc;
	font-style: italic;
	font-style: 20px;
}
.contacts{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contact{
  width: 25%;
  padding: 0px 20px;
}
.footer{
	background-color: black;
}
.a{
	color: white;
}
h5{
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.brands{
	color: white;
	display: flex;
	font-size: 25px;
}
.d{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diyor{
  background-color: #333;
}
@media(max-width: 900px){
  .contact{
    width: 100%;
  }
 }
 @media(max-width: 620px){
 	.red{
 		width: 100%;
 		text-align: center;
 	}
 }
@media(max-width: 849px){
	.container{
		padding-left: 50px;
		padding-right: 50px;
	}
    .blue{
	    text-align: center;
    }
    .blue{
	   padding: 0 0px;
}
	.red{
		padding: 0px 0px;
	}
    .smallbox{
    	width: 100%;
    	padding: 0 0px;
    }
    .rasm{
    	width: 100%;
    }
    .contacts{
    	width: 100%;
    }
}
@media(max-width: 445px){
  .item{
    font-size: 15px;
    margin: 5px;
  }
  .list2{
    font-size: 10px;
  }
}
@media(max-width: 381px){
  .item{
    font-size: 13px;
    margin: 3px;
  }
}
@media(max-width: 381px){
  .item{
    font-size: 13px;
    margin: 2px;
  }
}